<ion-view >
	<ion-content class="animateText">
		<form name="formLogin" ng-submit="doLogin()">
		<div class="home">
			<div class="go_button">

				<a class="button button-clear button-dark" href="#/app/menu" ng-click="">
      			<b id="font-size" >Entrar</b></a>
				<br><br>
				<button class="button button-calm ion-social-twitter"></button>
				<button class="button button-positive ion-social-facebook"></button>
				<button class="button button-assertive ion-social-google"></button>
			
			</div>
		</div>
		</form>
	</ion-content>
</ion-view >

