<ion-view>
	<ion-content class="animateText">
		<div class="home" >

			<ion-slides  class="slide-home" options="options" slider="">
				<ion-slide-page>
			      <div >Tu Guía cervecera de Bariloche</div>
			    </ion-slide-page>
			    <ion-slide-page>
			      <div>Encuentra y ubica en el mapa lugares con promociones de happy hours</div>
			    </ion-slide-page>
			    <ion-slide-page>
			      <div >Enterate de los mejores eventos de la ciudad</div>
			    </ion-slide-page>
			</ion-slides>		

			<a class="button button-clear button-dark" href="#/login" ng-click="" id="font-size" >
      		<b >Entrar</b></a>

		</div>	
	</ion-content>
</ion-view >

