<ion-view >
<ion-content>
<body>
<form name="formLogin"ng-submit="doLogin()">
	<div class="home">
		<div class="go_button">
			<a href="#/app/menu"><button class="button button-block button-large  button-dark ">Entrar</button></a>
			<button class="button button-calm ion-social-twitter"></button>
			<button class="button button-positive ion-social-facebook"></button>
			<button class="button button-assertive ion-social-google"ng-click="login_social()"></button>

		</div>
	</div>
</form>	
	</body>
</ion-content>
</ion-view >

