<ion-modal-view class="animateText">
  <ion-content class="login">
    <div class="app-icon"></div>
    <div class="button-social">
      <b>Contacto</b><br>
      <button class="button button-calm ion-social-twitter"></button>
      <button class="button button-positive ion-social-facebook"></button>
      <button class="button button-assertive ion-social-google"></button>
      <br><br>
      <button class="button icon-left ion-email button-positive">Email</button>
      <button class="button icon-left ion-person-add button-positive">Registrarse </button>
      <button class="button icon-left ion-ios-eye button-positive">Anónimo </button>
    </div>          
  </ion-content>
</ion-modal-view>
