<ion-view id="content">
	<ion-content>
		<ion-list>
			<ion-item class="item-avatar" ng-repeat="x in data.marcadores" ng-if="x.tipo==2" href="#/app/detalles" ng-click="detalle({{x.id}})">
				<img class=" {{bounce(x.id) && 'beat animateImage' || 'animateImage'}}" ng-src="{{x.logo}}">
				<div class="animateText">
					<h2><b>{{x.name}}</b></h2>
					{{x.horario}}<br>
					Happy hour de {{x.start|date:'HH'}} a {{x.end|date:'HH'}}
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>