<ion-view view-title="Lista">
  <ion-content>
	<ion-list>
	<!-- con json-->
	<!--<ion-item class="item item-avatar" ng-repeat="x in data.marcadores" ng-if="x.tipo==tipo" href="#/app/detalles" ng-click="detalle({{x.id}})">-->
	<!-- desde firebase-->
		<ion-item class="item item-avatar" ng-repeat="x in data" ng-if="x.tipo==tipo" href="#/app/detalles" ng-click="detalle({{x.key}})">
			<img src="{{x.image}}"> 
			<h1>{{x.id}}</h1>
			<h2>{{x.descrip}}</h2>
			<p>{{x.horario}}</p>
			<p>Abierto de 20 a 04</p>
			<p>Happy hour de {{x.start|date:'HH'}} a {{x.end|date:'HH'}}</p> 
		</ion-item>
	</ion-list>

  </ion-content>
</ion-view>