<ion-view view-title="lista">
  <ion-content>
  <body>
    
    <div id="izquierda">
      <ul id="menu">
        <li><a href="#"><img src="img/Imagenes/Antares.png" alt="#" title="#" /></a></li>
        <li><a href="#"><img src="img/Imagenes/Manush.jpg" alt="#" title="#" /></a></li>
        <li><a href="#"><img src="img/Imagenes/Santino.jpg" alt="#" title="#" /></a></li>
        <li><a href="#"><img src="img/Imagenes/Southbar.png" alt="#" title="#" /></a></li>
        <li><a href="#"><img src="img/5.jpg" alt="#" title="#" /></a></li>
        <li><a href="#"><img src="img/6.jpg" alt="#" title="#" /></a></li>
        <li><a href="#"><img src="img/7.jpg" alt="#" title="#" /></a></li>
      </ul>
    </div>
  </body>


 </div>
  </ion-content>
</ion-view>
