<ion-modal-view class="animateText">
 
   
  <ion-content class="login">


    <div class="app-icon"></div> 
  
  

      <div class="button-social" ng-controller="PopupCtrl">

      <button class="button button-calm ion-social-twitter" ng-click="showPopup(1)"></button>
      <button class="button button-positive ion-social-facebook" ng-click="loginFace()"></button>
      <button class="button button-assertive ion-social-google" ng-click="login_social()"></button>
      <br><br>
      <button class="button icon-left ion-email button-positive" ng-click="showPopup()">Email</button>
      <button class="button icon-left ion-person-add button-positive" ng-click="doCreateUserAction(creds)">Registrarse </button>
      <button class="button icon-left ion-ios-eye button-positive"  ng-click="doLoginAnonymus(); showConfirm()">Anónimo </button>

    </div>

    <br>
    <div style="text-align: center; color: #FFFFFF">
    Olvide mi usuario y/o contraseña
    </div>   
</ion-content>

</ion-modal-view>
