<ion-view>
    <ion-content>
    	
    	<div id="map" data-tap-disabled="true"></div>

    </ion-content>


<div class="tabs-calm tabs-icon-top">

    <div class="tabs">
      <a class="tab-item" href="#">
        <i class="icon ion-home" ></i>
        Main Menu
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Favoritos
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a" ng-click="login()" ></i>
        Login
      </a>
    </div>

 </div>


</ion-view>