<!--Menu de imágenes-->
    <br>
    <br>
    <div id="content">
    <div class="row gallery">
        <div class="col col-50">
            <a href="#/app/mapa"><img src="../img/cerve.jpg" height="50%" ng-click="myFunc(1)"></a>
        </div>
        <div class="col col-50">
            <a href="#/app/mapa"><img src="../img/bottle.jpg"  height="50%" ng-click="myFunc(3)"></a>
        </div>
    </div>
    <div class="row gallery">
        <div class="col col-50">
            <a href="#/app/mapa"><img src="../img/cerve.jpg" ng-click="myFunc(2)"></a>
        </div>
        <div class="col col-50">
            <a href="#/app/mapa"><img src="../img/cerve.jpg" ng-click="myFunc(0)"></a>
        </div>
    </div>
    </div>
