<!--Menu de imágenes-->

<div class="list" style="top:6%;height: 89%">

  <a href="#/app/mapa" >
  <div class="background1" ng-click="myFunc(1)" title="Cervecerias" />  
    <div class="textmenu">
    <p>Cervecerias</p></div></div>
  </a>

  <a href="#/app/mapa" >
  <div class="background2" ng-click="myFunc(2)" title="Bares" />  
    <div class="textmenu">
    <p>Bares</p></div></div>
  </a>

  <a href="#/app/mapa" >
  <div class="background3" ng-click="myFunc(0)" title="Pubs, Bares y Cervecerias" />  
    <div class="textmenu">
    <p>Pubs, Bares y Cervecerias</p></div></div>
  </a>
  
</div>
