<ion-nav-bar class="bar-ligth">
  <ion-nav-title > 
    <div id="icono">
      <img src="img/favicon.ico"  >
    </div> 
    <h1 id="especial" class="title">BariHour</h1>
    
  </ion-nav-title>

</ion-nav-bar>

<ion-nav-view ></ion-nav-view>
  
 <div class="tabs-ligth tabs-icon-top">
  <div class="tabs">
    <a class="tab-item" href="#/app/menu">
      <i class="icon ion-home " ></i>
      <b>Main Menu</b>
    </a>
    <a class="tab-item" href="">
      <i class="icon ion-ios-location " ng-click="ubicacion(1)"></i>
      <b>Mi ubicacion</b>
    </a>
    <a class="tab-item" href="#/app/listaBar">
      <i class="icon ion-wineglass " ng-click="tipo(2)"></i>
      <b>Bares</b>
    </a>
    <a class="tab-item " href="#/app/listaCerve">
      <i class="icon ion-beer " ng-click="tipo(1)"></i>
      <b>Cervecerias</b>
    </a>
    <a class="tab-item" href="">
      <i class="icon ion-android-person " ng-click="usuario(1)"></i>
      <b>Mis datos</b>
    </a>
  </div>
</div>
