<div class="tabs-dark tabs-icon-top">

    <div class="tabs">
      <a class="tab-item" href="#/app/menu">
        <i class="icon ion-home" ></i>
        Main Menu
      </a>
      <a class="tab-item" href="#/app/mapa">
        <i class="icon ion-ios-location" ng-click="ubicacion(1)"></i>
        Mi ubicacion
      </a>
      <a class="tab-item" href="#/app/lista">
        <i class="icon ion-wineglass" ng-click="tipo(1)" ></i>
        Bares
      </a>
      <a class="tab-item" href="#/app/lista">
        <i class="icon ion-beer" ng-click="tipo(2)"></i>
        Cervecerias
      </a>
    </div>
</div>