<ion-nav-view>
  <!-- Barra Principal - Titulo app -->
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons>
      <div id="icono">
        <img src="img/favicon.ico">
      </div>
    </ion-nav-buttons>

    <ion-nav-title > 
      <h1 id="especial" class="title">BariHour</h1>  
    </ion-nav-title>
    
    <ion-nav-buttons side="secondary">
      <a href="#/app/info" ng-click="info()"><button class="button button-clear button-stable  ion-information-circled"></button></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!--Tab inferior -->
    <div class="tabs tabs-dark tabs-icon-top" ng-controller="userCtrl">
      <a class="tab-item" href="#/app/menu">
        <i class="icon ion-home"></i><b>Menu</b>
      </a>
      <a class="tab-item" href="#/app/listaBar">
        <i class="icon ion-wineglass "></i><b>Bares</b>
      </a>
      <a class="tab-item " href="#/app/listaCerve">
        <i class="icon ion-beer"></i><b>Cervecerias</b>
      </a>
      <a class="tab-item" href="#/app/listaPubs">
        <i class="icon ion-social-freebsd-devil"></i><b>Pubs</b>
      </a>
      <a class="tab-item" href="" ng-click="cambiarUser()">
        <i class="icon ion-person"></i><b>Perfil</b>
      </a>
    </div>
</ion-nav-view>