
.scroll {height: 100%}

html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }

/*Contiene las proporciones donde se visualizará el mapa*/
#map { width: 100%; height: 96% }

/*contiene la altura para que las barras de menu y tabs no tapen el contenido*/
#content{height: 94%}

/*Marca la posición del Icono BariHour*/
#icono{position: absolute; top: 0px;left: 5px}

/*Barra Principal - Titulo app*/
#especial {
  font-style: bold;
  font-size: 150%;
  font-family: "Times New Roman", Times, red serifs;
  width: auto;
  height: auto;
  text-align: center;
  position: absolute;
  -webkit-animation: mymove1 7s infinite; /* Chrome, Safari, Opera */
  animation: mymove1 7s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove1 {
    50% {text-shadow: 10px 20px 30px blue;}
}
/* Standard syntax */
@keyframes mymove1 {
    50% {text-shadow: 10px 20px 30px blue;}
}
/******************************************/

/*Estilo para algunos titulos*/
#title_Name{
  text-align: center;
  font-style: bold;
  font-family: "Times New Roman", Times, red serifs;
}
/******************************************/


/*Página de inicio*/
.home {
  background: url(../img/start.gif);
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-position: center;
  width: 105%;
  height: 100%;
  margin: auto;
  z-index: 0;
  position: absolute;
  
}
.slide-home{
  top:60%;
  height: 25%;
  width: 95%;
  font-size:200%;
  font-family: "Times New Roman", Times, red serifs;
  text-align: center;
  line-height: 1;
  font-style: bold;
 position: absolute;
  
  
}
/*Para efecto de texto agrandandose*/
#font-size{
  font-size: 30px;
  width: 95%;  
  font-style: bold;
  font-family: "Times New Roman", Times, red serifs;
  -webkit-animation: mymove3 5s infinite; /* Chrome, Safari, Opera */
  animation: mymove3 5s infinite;
  top: 85%;
  transition: .5s ease;  
  position:absolute;
  text-align: center;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove3 {50% {font-size: 50px;}}
/* Standard syntax */
@keyframes mymove3 {50% {font-size: 40px;}}
/******************************************/

/*Menu*/
div.background1 {
  background: url(../img/menu/cervecerias.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 33%;
    top:0%;
    z-index: 0;
    position: absolute;  
}
div.background2 {
  background: url(../img/menu/bares.jpg) repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 33%;
    top:33%;
    z-index: 0;
    position: absolute; 
}
div.background3 {
  background: url(../img/menu/pubs.jpg) repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 33%;
    top:66%;
    z-index: 0;
    position: absolute; 
}
div.textmenu{
  line-height: 1;
  font-size: 30px;
  margin-top: 40px;
  position: relative; 
  text-align: center;
  font-weight: bold;
  color: #000;
  text-shadow: 0 0px 10px #fff;
}
/******************************************/

/*Info-Windows*/
#name{
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  line-height: 1.35;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
  background: url(../img/start.gif);
  font-weight:bold
}
/******************************************/

/* Estilos para page Detalles */
.slideshow-container {
  width:100%;
  max-width: 100%;
  height: 96%; 
  max-height: 96%;
  margin-top: 0px;
  background: #000000; 
}
#contenido{
  margin-top: 0px;
  max-height: 100%;
  height: 30%;
  
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  display: block;
  height: 100%;  
}
/*imagenes de slideshow*/
.set img {
  display: block;
  width: 100%;
  height: 100%;
  top:0%;
  z-index: 0;
}
/* animacion fade */
@-webkit-keyframes fade {from {opacity: .4} to {opacity: 1}}
@keyframes fade {from {opacity: .4} to {opacity: 1}}
/* detalles*/
#detalle {
  background: #000000; 
  color:#FFFFFF;
  font-weight:bold;
  text-align:center;
  font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
  width: 100%;
  margin-top: 0%;
  display: block;
  padding: 4%;
    max-height: 100%;
  height: 30%;

}
/*Animación para la transición page detalles*/
@-webkit-keyframes animateInPrimary {
  0% {-webkit-transform: translate3d(-100%,0,0);}
  100% {-webkit-transform: translate3d(0,0,0);}
}
@-webkit-keyframes animateInSecondary{
  0% {opacity: 0;}
  50% {opacity: 0;} 
  100% {opacity: 1;}
} 
.animateImage {
  -webkit-animation: animateInPrimary;
  animation: animateInPrimary;
  -webkit-animation-duration: 2000ms;
  animation-duraton: 2000ms;
} 
.animateText {
  -webkit-animation: animateInSecondary ease-in 1;
  animation: animateInSecondary ease-in 1;
  -webkit-animation-duration: 1500ms;
  animation-duraton: 1500ms;
  white-space:normal;
}
/******************************************/

/*Animación para los logos de los locales en las listas*/
@keyframes heartbeat
{
  0%{transform: scale( 1 );}
  20%{transform: scale( 1.25 );}
  40%{transform: scale( 1 );}
  60%{transform: scale( 1.25 );}
  80%{transform: scale( 1 );}
  100%{transform: scale( 1 );}
}
.beat {
  -webkit-animation: hearbeat ease-in 40; 
  animation:heartbeat ease-in 40;
  -webkit-animation-duration: 5000ms;
  animation-duration: 5000ms;
}
header { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
header div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
header div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }
}
/******************************************/
/* Login
==================================*/
.login {
    background: url('../img/chopcervecero.gif');
    background-repeat: no-repeat;
    background-size: 100% 105%;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 0;
    position: absolute;
}
.app-icon {    
    background: url('../img/logo512x512.png') center;
    background-size: 100% 100%;
    position: relative;
    height: 50%;
    top: -1%;
    margin: auto;
    width: 50%;
}
.button-social {
  transition: .5s ease;
  font-style: bold;
  font-size: 20px;
  line-height: 1.35;
  position: relative;
  margin-bottom: : 50%;
  width: 100%;
  text-align: center;
}

